.sidebar{
    flex: 3;
    height: calc(100vh - 60px);
    overflow-y:scroll;
    position: sticky;
    top: 40px;
    align-items: center;

}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(231, 231, 223);
}

.sidebarWrapper{
    padding: 20px;
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;

}

.sidebarListItem{
    display: flex;
    margin-left: 60px;
    margin-right: 100px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
    text-align: center;
}
.sidebarListItem:hover{
    background-color: rgba(255, 179, 0, 0.159);

}

.sidebarIcon{
    margin-right: 15px;
    cursor: pointer;
    outline: none;
    color: black;

}

.sidebarButton{
    width: 150px;
    border:none;
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 60px;
    font-size: 1.4rem;
    color: aliceblue;
    background-color: rgb(255, 179, 0);
}

.sidebarButton:hover{
    background-color: rgb(162, 211, 255);
    color: black;
    transition: .3s;
}

.sidebarHr{
    margin: 20px 0;

}

.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItemText{
    outline: none;
    color: black;
    font-size: 1.2rem;

}


.rights{
    margin-left:70px;
    font-size: 14px;
    color: rgb(0, 43, 161);
    font-weight: 400;
}
