.sidebar{
    flex: 3;
    height: calc(100vh - 60px);
    overflow-y:scroll;
    position: sticky;
    top: 60px;
    align-items: center;

}

::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(231, 231, 223);
}

.sidebarWrapper{
    padding: 30px;
}

.sidebarList{
    padding: 0;
    margin: 0;
    margin-left: 60px;
    list-style: none;
    align-items: center;
    /* border: 2px solid rgba(166, 0, 255, 0.053); */
    border-radius: 10px;
    width: 65%;
    margin-right: 100px;
    -webkit-box-shadow: 0px 0px 93px -24px rgba(119, 119, 119, 0.23);
    -moz-box-shadow: 0px 0px 93px -24px rgba(106, 106, 106, 0.23);
    box-shadow: 2px 4px 60px -24px rgba(26,1,455,0.53);
    border: 2px solid rgba(112, 88, 167, 0.39);

}


.sidebarListItem{
    display: flex;
    padding: 8px;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
    text-align: center;
}
.sidebarListItem:hover{
    
    background-color: rgba(17, 0, 255, 0.212);
}

.sidebarIcon{
    margin-right: 15px;
    cursor: pointer;
    outline: none;
    color: black;

}

.sidebarButton{
    width: 150px;
    border:none;
    padding: 15px;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 80px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(166, 0, 255);
    margin-top: 15px;
}

.sidebarButton:hover{
    background-color: rgba(0, 28, 154, 0.9);
    color: white;
    transition: 0.3s;
}

.sidebarHr{
    margin: 20px 0;

}

.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItemText{
    outline: none;
    color: black;
    font-size: 1.1rem;

}


.rightsLeft{
    margin-left:70px;
    font-size: 14px;
    color: grey;
    font-weight: 300;
    cursor: pointer;
    text-shadow:rgba(0, 0, 255, 0.439) 1px 0 5px;
    bottom:0;
    position: absolute;
    padding-bottom:20px;
}
